{extend name="layout" /}
{block name="title"}小白现金{/block}
{block name="css"}
    <link href="/public/static/css/style.css" rel="stylesheet" type="text/css" />
{/block}

{block name="headjs"}

{/block}
{block name="content"}
		<section class="tips-title">
			<img src="images/icon-succeed.png"><br>恭喜您，绑定成功
		</section>

		<section class="tips-link">
			<a href="platform.html">立即借款</a>
		</section>
        {/block}
		
				{block name="bodyjs"}
	<script type="text/javascript" src="/public/static/js/fastclick.js"></script>
	<script type="text/javascript" src="/public/static/js/index.js"></script>        
	{/block}